.popOverlay {
    background-color: rgba(151, 151, 151, 0.273);
    height: 200%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    visibility: hidden;
    overflow: hidden;
}
.overlayForm{
    all: unset;
    width: 80%;
    max-width: 600px;
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 0 0 0px 0px rgb(217, 217, 217);
    border-radius: 10px;
    justify-content: center;
    padding: 20px;
    margin-top: 100px;
    align-items: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.midClose{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    background-color: rgb(30, 30, 30);
    color: rgb(225, 225, 225);
    border-style: none;
    border-radius: 5px;
}

.midClose:hover{
    background-color: rgb(110, 145, 174);
    color: black;
    transition: background-color 200ms, color 200ms, box-shadow 200ms;

}
.rightInsidesDiv{
    display: flex;
    justify-content: right;

}

.proCreate{
    all: unset;
    margin: 0;
    text-align: center;
    padding-bottom: 0;
    border-radius: 5px;
    background-color: rgba(110, 145, 174, 0.442);
    width: 100px;
    font-size: 90%;
    z-index: 20;
    padding: 10px 5px;
    transition-duration: 00ms;
}
.proC:hover{
    box-shadow: 0px 0px 20px 0px rgba(110, 145, 174, 0.5);
}
.verFlexDivCut{
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    width: 1000px;
    max-width: 90vw;
    justify-content: baseline;
    flex-direction: column;
    padding: 10px;
    height: 100px;
}
.successAnimeOverlay{
    background-color: rgba(0, 255, 255, 0);
    box-shadow: none;
    height: 100px;
    margin-top: 0;
    visibility: hidden;
}