/* COLORS


--Alpue Blue
rgb(110, 145, 174)
#6e91ae

EN COLORS */


.popOverlay {
    background-color: rgba(151, 151, 151, 0.273);
    height: 120%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    overflow: hidden;
}

.overlayForm {
    all: unset;
    width: 90%;
    max-width: 600px;
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 0 0 30px 0px rgb(185, 185, 185);
    border-radius: 10px;
    justify-content: star;
    padding: 10px;
    /* margin: 100px; */
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: -100px;
    font-size: 90%;

}

.fadeOut {
    transition: opacity 200ms ease;
    /* 1s fade-out */
    opacity: 0;
}
.fadeOutSlow {
    transition: opacity 400ms ease;
    /* 1s fade-out */
    opacity: 0;
}
.fadeInSlow{
    transition: opacity 1000ms;
    /* 1s fade-out */
    opacity: 100%;
}

.collapse {
    animation: collapse 2000ms linear;

}

.loading-div {
    background-color: rgba(72, 153, 153, 0);
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.loading-master-div {
    background-color: rgba(255, 228, 196, 0);
    height: 50px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
}

.loading-text {
    margin-right: 20px;
    font-size: 3vh;
}

.OkButton {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    background-color: rgb(30, 30, 30);
    border: rgb(30, 30, 30) 1px solid;
    box-shadow: 0 0 10px 0 rgba(218, 218, 218, 0.562);
    font-size: 150%;
    color: rgb(226, 226, 226);

}
.OkButton:hover {
    color: rgb(30, 30, 30);
    background-color: rgba(230, 230, 230, 0);
    box-shadow:
        inset 0 0 30px 0 rgb(242, 242, 242),
        0 0 10px 0 rgb(236, 236, 236);

}
.success-div{
    height: 50px;
    background-color: rgba(255, 228, 196, 0.419);
    width: 100px;

}


.responsive-svg {
    width: 100px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.midClose {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    background-color: rgb(30, 30, 30);
    color: rgb(225, 225, 225);
    border-style: none;
    border-radius: 5px;
    font-size: large;
}

.midClose:hover {
    background-color: rgb(110, 145, 174);
    color: black;
    transition: background-color 200ms, color 200ms, box-shadow 200ms;

}

.rightInsidesDiv {
    display: flex;
    justify-content: right;
    background-color: rgba(0, 255, 255, 0);
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
}

.proCreate {
    all: unset;
    margin: 0;
    text-align: center;
    padding-bottom: 0;
    border-radius: 5px;
    background-color: rgba(110, 145, 174, 0.442);
    width: 100px;
    font-size: 90%;
    z-index: 20;
    padding: 10px 5px;
    transition-duration: 00ms;
}

.proC:hover {
    box-shadow: 0px 0px 20px 0px rgba(110, 145, 174, 0.5);
}

.verFlexDivCut {
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    width: 1000px;
    max-width: 90vw;
    justify-content: baseline;
    flex-direction: column;
    padding: 10px;
    height: 100px;
}

.successAnimeOverlay {
    background-color: rgba(0, 255, 255, 0);
    box-shadow: none;
    height: 100px;
    margin-top: 0;
    visibility: hidden;
}

/* Style the loader container */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the 270-degree rotating loader */
.loader {
    border: 16px solid transparent;
    /* Transparent for the missing part */
    border-top: 16px solid #3498db;
    /* Blue for the front edge */
    border-right: 16px solid #3498db;
    /* Blue for the right edge */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* Define the spinning animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes spinLoading {
    to {
        transform: rotate(360deg);
    }
}

.collapse {
    animation: collapse 300ms ease-in-out forwards;
    overflow: hidden;
    /* Ensures content is hidden when height collapses */
}

.openUp {
    animation: openUp 500ms linear;
    overflow: hidden;
    /* Ensures content is hidden when height collapses */
    background-color: rgb(255, 255, 255);
}

.loadingD {
    display: flex;
    flex-direction: row;
    height: 30px;
    background-color: rgba(121, 255, 255, 0);
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size: 85%;
    margin-bottom: 10px;
}

.loadingC {
    background-color: rgba(255, 178, 178, 0);
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.loadingP {}



@keyframes collapse {
    from {
        max-height: 500px;
        padding: 10px;
        /* margin: 100px; */

    }

    to {
        max-height: 0px;
        padding: 10px;
        /* margin: 400px */
    }
}

@keyframes openUp {
    from {
        max-height: 0%;
        padding: 10px;
        /* margin: 400px */

    }

    to {
        max-height: 70%;
        padding: 10px;
        display: flex;
        /* margin: 100px */
    }
}

.loadingContent {
    background-color: rgba(0, 0, 255, 0);
    width: 100%;
}


.spinLoading {
    transform-origin: center;
    animation: spinLoading 700ms linear infinite;
}
.endSpin{
    animation: endSpin 1000ms linear forwards;
}
@keyframes endSpin{
    from {
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
}


.div5050 {
    height: 50px;
    width: 50px;
}


@media (max-aspect-ratio: 10/14) {
    .loading-text {
        font-size: 2vh;
    }

}