/* COLORS


--Alpue Blue
rgb(110, 145, 174)
#6e91ae

EN COLORS */

body{
    font-family: DM Sans;
}


.h1Title{
    background-color: rgba(0, 255, 255, 0);
    padding: 10px;
    font-size: 200%;
    text-align: center;
    font-family: DM Sans;
    /* line-height: 1.8; */
}
.bodyDiv{
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    width: 90%;
    max-width: 1000px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p1Text{
    text-align: center;
}
.p1BigPlus{
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: rgba(111, 111, 111, 0);
    font-size: 200%;

}
.floatingRec{
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    box-shadow: 0 0 0px 0 rgb(230, 230, 230);
    width: 45%;
    /* height: 400px; */
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    color: rgb(30, 30, 30);
}
.aggPlusIndDIV{
    width: 100%;
    max-width: 800px;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartTitleBig{
    font-size: 200%;
    padding: 0;
    margin: 10px;
}
@media (max-aspect-ratio: 10/14) {
    .aggPlusIndDIV{
        flex-direction: column;
    }
    .floatingRec{
        width: 100%;
    }
}