
body{
    all: unset;
    text-align: center;
    font-family: "IBM Plex Mono";
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
}

.headerD{
    all: unset;
    background-color: rgba(165, 223, 223, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    overflow: hidden;
}

.topLeftLogo{
    height: 40px;
    aspect-ratio: 16 / 6;
    background-color: rgba(168, 78, 78, 0);
}
.topLeftLogo:hover{
    background-color: rgba(255, 255, 255, 0);
}

.mmMenuButton{
    height: 40px;
    border: 1px solid rgb(110, 145, 174);
    border-radius: 5px;
    margin: 10px;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    padding: 0;
    background-color: white;
    padding-bottom: 4px;
    color: rgb(110, 145, 174);

}

.headerUlD{
    all: unset;
    margin: 10px;
    background-color: rgba(255, 0, 0, 0);
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.headerUlLiD{
    all: unset;
    background-color: rgba(243, 255, 167, 0);
    padding: 0 0px;
    text-align: center;
    display: flex; /* Add this line */
    align-items: center; /* Add this line */

}

.noStyle{
    all: unset;
    margin-right: 10px;
    background-color: none;
}
.noStyle:hover{
    background-color: rgba(255, 255, 255, 0);
}
header > ul > li > a{
    all: unset;
    background-color: rgba(152, 152, 255, 0);
    text-decoration: none;
    padding: 5px 0px;
    width: 120px;
    border-radius: 3px;
    transition-duration: 200ms;
}
header > ul > li > a:hover{
    background-color: rgb(30, 30, 30);
    color: rgb(225, 225, 225);
    cursor: pointer;
}
.mobileMenuOverlay {
    background-color: rgb(157, 157, 157);
    opacity: 0%;
    height: 200%;
    width: 200%;
    position: fixed;
    z-index: 1000;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    visibility: hidden;
    animation: none;
}
.mobileMenuHolder{
    background-color: rgba(176, 110, 110, 0);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    visibility: visible;
    overflow: hidden;
    animation: none;
    transform: translateX(-100%);
}

.mobileMenu{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 2000;
    top: 0;
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: column;
    visibility: hidden;
    overflow: hidden;
    box-shadow: 0 0 100px 0 rgb(150, 150, 150);
}
@keyframes hideMobileMenu {
    0% {
        transform: translateX(-0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes opacityNull {
    0% {
        opacity: 50%;
        display: flex;
    }
    100% {
        opacity: 0%;
        display: none;
    }
}
@keyframes showMobileMenu {
    100% {
        transform: translateX(-0%);
    }
}
@keyframes opacity50 {
    100% {
        opacity: 50%;
    }
}
.mmMenuTopDiv{
    display: flex;
    justify-content: right;
}

.mmClose{
    margin: 20px;
    height: 50px;
    width: 50px;
    background-color: rgb(30, 30, 30);
    color: rgb(225, 225, 225);
    border-style: none;
    border-radius: 5px;
    font-size: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mmClose:hover{
    background-color: rgb(110, 145, 174);
    color: black;
    transition: background-color 200ms, color 200ms, box-shadow 200ms;

}
.desktopOnly{
    display: flex;
}
.mobileOnly{
    display: none;
}
.mmUl{
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
    list-style-type: none;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
.mmLi{
    background-color: rgba(234, 255, 148, 0);
    font-size: 200%;
    margin: 30px;
    text-align: left;
}
.mmLi > a{
    all: unset;
    background-color: rgba(152, 152, 255, 0);
    text-decoration: none;
    padding: 5px 5px;
    width: 120px;
    border-radius: 3px;
    transition-duration: 200ms;
}
.mmLi > a:hover{
    background-color: rgb(30, 30, 30);
    color: rgb(225, 225, 225);
    cursor: pointer;
}





.horizontalFlexDiv{
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    overflow: visible;
    max-width: 85%;
}
.centerDataBoard{
    display: grid;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    /* height: 500px; */
    height: 600px;
    width: 1000px;
    max-width: 90vw;
    background-color: none;
    grid-template-rows: 1fr 1fr 13fr;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 20px;
    box-shadow: 5px 5px 50px rgb(233, 233, 233);
    padding: 3px;
}


.centerSlider{
    display: grid;
    border-radius: 5px;
    border-width: 2px;
    background-color: rgba(255, 176, 176, 0);
    grid-template-columns: 3fr 3fr 3fr 3fr;
    size: 50;
}

.radioSlider{
    all: unset;
    background-color: rgba(255, 255, 255, 0);
    margin: 3px;
    border-radius: 3px;
    transition-duration: 200ms;
    box-sizing: border-box;
    font-size: medium;
    
}
.radioSlider:hover{
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 4px 0 rgb(240, 240, 240);
    /* font-weight: 700; */
}
.radioSliderSelected{
    background-color: rgb(110, 145, 174);
    font-weight: 700;
    /* color: rgb(225, 225, 225); */
}
.radioSliderSelected:hover{
    background-color: rgb(94, 129, 157);
    /* color: rgb(225, 225, 225); */
}
.hiddenTable{
    display: none;
}

.searchInput{
    all: unset;
    margin: 3px;
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
    text-align: start;
    padding-left: 10px;
    box-shadow: 0 0 4px 0 rgb(240, 240, 240);
    font-size: mediumqwd;
    color: rgb(115, 115, 115);

}
.dataContent{
    background-color: rgba(127, 255, 212, 0);
    margin: 3px;
    padding: 3px;
    overflow: scroll;
}
.dataTableURLs{
    display: table;
}
.dataTableTitles{
    display: none;
}
.dataTableEvents{
    display: none;
}
.dataTableConversions{
    display: none;
}

.sliderButtonOn{
    color: white;
    font-weight: 700;
    background-color: white;
}
.sliderButtonOff{
    font-weight: 400;
}
.sliderButton{
    font-family: "IBM Plex Mono";
    background-color: none;
    border-style: none;
    height: auto;
    font-size: medium;
    border-radius: 3px;
    margin: 7px;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 37px;
}

.sliderButton:hover{
    font-weight: 700;
}

.centerTable{

}

.tabContent {
    display: none;
    padding: 10px;
    border-color: ligh;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(234, 234, 234);
    border-radius: 5px;
    font-size:small;
    background-color: white;
    overflow: scroll;
    margin-top: 5px; /* To align with tabs visually */
}

#Titles:target, #URLs:target, #Events:target {
    display: block;
}

.sliderButton a:target {
    font-weight: 700;
    background-color: white;    
}

.sliderButton:target {
    background-color: white; 
    font-weight: 700; 
}

.mainTable{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: clamp(11px, 2vw, 15px);
    overflow: hidden;
    table-layout: fixed; /* Ensures table layout is fixed */

}

.mainTable td, .mainTable th {
    overflow: hidden; /* Hide overflow within the cell */
    white-space: nowrap; /* Prevents text from wrapping */
    text-overflow: ellipsis; /* Adds an ellipsis (...) if the text overflows */
}

.numCol{
    width: 5%;
}
.secondRow{
    font-weight: 300;
    background-color: rgba(152, 152, 152, 0);
    border-radius: 3px;
}

.titleCol {
    width: 80%; /* Set the desired width */
    overflow: auto; /* Enable scrolling for overflow content */
    white-space: nowrap; /* Prevent wrapping */
    text-overflow: ellipsis; /* Add ellipsis (...) if content overflows */
    padding-right: 1%; /* Add space between title and count */
}


.countCol{
    width: 15%;
}


.form{
    all: unset;
    width: 90%;
    max-width: 600px;
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 0 0 50px 0px rgb(217, 217, 217);
    border-radius: 10px;
    margin: 30px;
    justify-content: center;
    padding: 20px;
    align-items: left;
    display: flex;
    flex-direction: column;
}
.formInput{
    all: unset;
    background-color: rgb(230, 230, 230);
    text-align: left;
    width: 100%;
    padding: 2px;
    margin-bottom: 20px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgb(235, 235, 235);
}

.formSubmit{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 45px;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    background-color: rgb(30, 30, 30);
    color: rgb(235, 235, 235);
    text-align: center;
    transition: background-color 200ms, color 200ms, box-shadow 200ms;
    box-shadow: 0 0 10px 0px rgb(195, 195, 195);
}
.formSubmit:hover{
    background-color: rgb(110, 145, 174);
    color: black;
    /* font-style: italic; */
    /* font-weight: 600; */
}
.formLabel{
    background-color: rgba(67, 145, 145, 0);
    text-align: left;
    width: 100%;
}

.pNotes{
    font-size: small;
    font-style: italic;
    color: rgb(170, 170, 170);
}
.pError{
    color: red;
    margin: 0;
    visibility: hidden;
}

/* A C C O U N T */
/* A C C O U N T */
.proButtonDiv{
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    flex-direction: row;
    height: 40px;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid rgb(110, 145, 174)
}
.proSelect{
    all: unset;
    margin: 0;
    text-align: left;
    padding-bottom: 0;
    border-radius: 5px;
    background-color: rgb(110, 145, 174);
    width: 290px;
    font-size: 90%;
    z-index: 20;
    padding: 10px 10px;
    transition-duration: 0ms;
    box-shadow: 0px 0px 10px 0px rgba(181, 181, 181, 0.823);
    height: 100px;
    font-size: 100%;
}
.proSelect:hover{
    box-shadow: 0px 0px 20px 0px rgba(110, 145, 174, 0.5);
}

.textLeft{
    text-align: left;
    background-color: rgba(238, 255, 127, 0);
    padding: 0px;
    margin-bottom: 10px;
    max-width: 90vw;
    color: rgb(30, 30, 30);
    z-index: 100;

}
.mediumButton{
    all: unset;
    background-color: rgb(30, 30, 30);
    box-shadow: 0 0 10px 0px rgb(195, 195, 195);
    padding: 10px 15px;
    border-radius: 5px;
    margin: 50px;
    color: rgb(225, 225, 225);
    transition-duration: 100ms;
}
.mediumButton:active{
    
}
.proButton{
    margin: 0px;
    height: 20px;
    border-radius: 0px;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    font-size: 80%;
}

.verFlexDiv{
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    width: 1000px;
    max-width: 90vw;
    justify-content: baseline;
    flex-direction: column;
    padding: 10px;

}
.proCodeP{
    background-color: #4ab71b00;
    /* margin: 15px 10px 15px 10px; */
    margin: 10px;
    text-align: left;
    font-size: 90%;
    color: rgb(30, 30, 30);


}
.mediumButtonFixed{
    all: unset;
    background-color: rgb(30, 30, 30);
    box-shadow: 0 0 10px 0px rgb(195, 195, 195);
    padding: 10px 15px;
    border-radius: 5px;
    color: rgb(225, 225, 225);
    transition-duration: 100ms;
    margin: 10px;
    min-width: 170px;
    max-width: 170px;
    margin-top: 0;

}
.mediumButtonFixed:hover{
    /* background-color: rgb(43, 70, 94); */
    background-color: rgb(110, 145, 174);
    color: rgb(0, 0, 0);
}
.h3ButtonMenu{
    background-color: rgba(0, 255, 255, 0);
    padding: 0;
    margin: 10px;
    text-align: left;
    margin-bottom: 0;
    color: rgb(30, 30, 30);


}

.floatingDivFlexible{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px rgb(233, 233, 233);
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

}
nav > ul > li {
    color: rgb(225, 225, 225);
    list-style-type: none;
    text-align: left;
    background-color: none;
    margin: 0px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 90%;
    z-index: 100;
    overflow: hidden;

}
nav > ul > li:hover {
    background-color: white;
    color: rgb(30, 30, 30);
    
}
nav > ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.proMasterDiv{
    background-color: rgb(255, 255, 255);
    /* height: 600px; */
    width: 1000px;
    max-width: 90vw;
    margin: 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px rgb(233, 233, 233);
    display: flex;
    overflow: hidden;
    padding: 0px;
    flex-direction: column;
}

.proCodeCode{
    background-color: rgba(245, 245, 245, 0);
    margin: 10px;
    border: 0.5px rgb(185, 185, 185) solid;
    border-radius: 6px;
    text-align: left;
    padding: 15px;
    color: rgb(185, 185, 185);
    overflow: scroll;
    font-size: 80%;
}

.mediumButton:hover{
    /* background-color: rgb(43, 70, 94); */
    background-color: rgb(110, 145, 174);
    color: rgb(0, 0, 0);
}
.h1Button {
    margin: 0px;
    margin-left: 30px;
    margin-right: 15px;
}



.successAnime{
    background-color: rgba(0, 255, 255, 0);
    box-shadow: none;
    height: 100px;
    margin-top: 0;
}

.success-animation { margin:150px auto;}

.checkmark_Anime {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: rgb(110, 145, 174);
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px rgb(110, 145, 174);
    /* animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both; */
    animation: none;
    position:relative;
    top: 5px;
    right: 5px;
    margin: 0 auto;
}
.checkmark__circle_Anime {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: rgb(110, 145, 174);
    fill: #ffffff00;
    /* animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards; */
    animation: none;

}

.checkmark__check_Anime {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    /* animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards; */
    animation: none;

}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 0px rrgba(110, 145, 174, 0)
    }
}



.popDiv{
    width: 600px;
    max-width: 90%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    z-index: 1100;
    border-radius: 10px;

}

@media (max-aspect-ratio: 10/14) {
    .form {
        width: 85%;
        
    }
    .desktopOnly{
        display: none;
    }
    .mobileOnly{
        display: flex;
    }
    .mobileMenuOverlay{
        visibility: visible;
    }
    .mobileMenuHolder{
        visibility: visible;
    }
    .mobileMenu{
        visibility: visible;
    }
    .radioSlider{
        background-color: rgba(92, 188, 114, 0);
    }
    .mediumButtonFixed{
        /* width: 85%;
        max-width: 85%;
        min-width: 85%;
        padding: 10;
        margin: 10; */


    }
    .floatingDivFlexible{
        /* padding: 10px;
        justify-content: center;
        align-items: center; */

    }
    h1{
        font-size: 130%;
    }
    .h1Button{
        font-size: 90%;
        padding: 10px;
    }

}